.btn{
  margin-left: 12px;
}
.listItems{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 30px;
  /* padding: 6px; */
}
.listItems:hover{
  background: pink;
  border-radius: 6px;
}
